:root {
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
}
html {
  font-family: system-ui, sans-serif;
  background-color: #F6F6F6;
}
code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
main {
  margin: auto;
  padding: 1.5rem;
  max-width: 60ch;
}
h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
  text-align: center;
}
.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}
.instructions {
  line-height: 1.6;
  margin: 1rem 0;
  border: 1px solid rgba(var(--accent), 25%);
  background-color: white;
  padding: 1rem;
  border-radius: 0.4rem;
}
.instructions code {
  font-size: 0.875em;
  font-weight: bold;
  background: rgba(var(--accent), 12%);
  color: rgb(var(--accent));
  border-radius: 4px;
  padding: 0.3em 0.45em;
}
.instructions strong {
  color: rgb(var(--accent));
}
.link-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  gap: 1rem;
  padding: 0;
}
button {
  background-color: rgb(137, 103, 239);
  margin: .5rem 0;
  color: white;
  font-weight: bold;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: large;
}
h2 {
  text-align: center;
  margin: 0 auto;
  padding: 2rem 1rem;
  font-size: 1.25rem;
  transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

footer {
  width: 95%;
}

footer p {
  text-align: center;
}


@media only screen and (min-width: 600px) {
  h2 {
    width: 85%;
    padding: 2rem 1rem  
  }

  footer {
    width: 98%;
  }
}

.card {
  list-style: none;
  display: flex;
  padding: 0.15rem;
  background-image: var(--accent-gradient);
  background-size: 400%;
  border-radius: 0.5rem;
  background-position: 100%;
  transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.share-twitter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  text-decoration: none;
  background-color: #1DA1F2;
  color: white;
  border-radius: 0.5rem;
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}